:root {
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header .esquerda {
    display: flex;
    align-items: center;
}

header .search {
    display: flex;
    width: 10%;
    justify-content: space-around;
}


header .logo {
    cursor: pointer;
}

.logo:hover {
    transition: 700ms;
    opacity: 0.8;
}


header nav a {
    width: auto;
}

header nav a, footer a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
}

header nav a:hover {
    opacity: 0.7;
    transition: 500ms;
}

/*banner principal*/

.banner-principal {
    font-size: 20px;
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,100%) ), url(/style/img/breaking-bad-banner.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.banner-principal .descricao {
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo {
    margin-top: 10%;
    margin-left:25px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}


.botao-assistir, .botao-informacoes {
    
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;

}

.botao-informacoes {
    color: white;
    background-color: rgba(0,0,0, .50); /*vermelho, verde, azul, camada alfa*/
    opacity: 70%;
}

.botao-assisir {
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

.botao-assistir:hover, .botao-informacoes:hover {
    transition: 500ms ease all;
    opacity: 50%;
}

.botao-assistir i, .botao-informacoes i {
    margin-right: 5px;
}

.container {
    margin-left: 15px;
}

.banner-principal .container {
    width: 40%;
    text-align: justify;
}

.minha-lista {
    background: linear-gradient(rgb(0, 0, 0), 60%, var(--preto));
    padding-left: 15px;
    
}

.minha-lista, .subtitulos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.minha-lista:hover, .subtitulos:hover {
    transition: 500ms;
    opacity: 1;
}

.subtitulos {
    margin-left: 15px;
}

.box-poster {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}

.box-poster:hover {
    transition: 700ms;
    opacity: 0.5;
}

.carousel {
    padding-left: 15px;
    padding-right: 15px;
}

footer ul {
    margin-bottom: 15px;
    margin-left: 15px;
}

footer ul li:hover {
    transition: 700ms;
    opacity: 0.5;
    cursor: pointer;
}

footer ul li {
    padding: 15px;
    list-style: none;
}

footer .contato {
    padding: 0;
    display: flex;
    margin: 0;
    font-size: 30px;

}
