body {
    background: #f7f7f7;
    font-family: Verdana;
    margin: auto;
}

.foto-cabecalho{
    border: 1px solid #505050;
    width: 100%;
    margin: 0 auto;
    height: 900px;
}

.title, .subtitle, .post_title {
    color: #505050;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #505050;
}

.post, .post_image, .title, .subtitle, .caixa, .contacts_list {
    width: 50%;
    margin: 0 auto;
}
.caixa {
    position: relative;
    max-width: 940px;
}

nav {
    position: absolute;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a, .contacts_list {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

nav a:hover, .contacts_list a:hover {
	transition: 500ms;
	color: darkorange;
	text-decoration: underline;
	transform: scale(1.2);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 20px 20px;
}

.post{
    background: #ffff;
    padding: 15px;
    border: 3px solid #505050;
    border-radius: 5px;
}

.post_content{
    text-transform:initial;
    text-align: center;
}

.post_image{
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
    margin: 20px auto;

}

.contacts_list li a {
    text-decoration: none;
}